.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    background-color: white;
    width: 100%;
    border-radius: 16px;
    max-width: 600px;
    padding: 16px;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

    div {
        cursor: pointer;
    }
}

.modal__form {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-direction: column;
}